<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Куратор</title>
</head>
<body>
<h1 class="text-center"> Hello, Куратор</h1>
<h2 th:text="${user.name}"/>
<form action="/curator/edit"/>
<button>Редактировать профиль</button>

<table border="3" cellpadding="10" cellspacing="0">
  <title>Список ваших студентов</title>
  <thead>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Роль</th>
  </tr>
  </thead>
  <tr>
    <tbody th:each="el : ${userList}">
  </tr>
  <tr>
    <td th:text="${el.id}"/>
    <td th:text="${el.name}"/>
    <td th:text="${el.surname}"/>
    <div th:each="role : ${el.roles}">
      <td th:text="${role.name}"/>
    </div>

    <td>
      <form th:action="'/curator/editstudent/' + ${el.id}" method="get" />
      <input   type="submit" name="action" value="Редактировать студента" />
      </form>
    </td>
    <td>
      <form th:action="'/curator/giveuser/' + ${el.id}" method="post" />
      <input   type="submit" name="action" value="Снять права" />
      </form>
    </td>
  </tr>
  </tbody>
</table>


</body>
</html>